{% extends "base.html" %}
{% load custom_tags %}

{% block title %}Card Search{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Card Search</h1>

    <!-- Search Bar -->
    <form method="get" action="{% url 'cards:card_list' %}" class="d-flex mb-3">
        {% csrf_token %}
        {{ form.name }}
        <button type="submit" class="btn btn-primary me-2">Search</button>
        <!-- Filter Button -->
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#filterModal">Filters</button>
    </form>

    <!-- Filter Modal -->
    <div class="modal fade" id="filterModal" tabindex="-1" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="filterModalLabel">Filter Options</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="get" action="{% url 'cards:search_cards' %}">
                    {% csrf_token %}

                    <!-- Series Section -->
                    <button class="btn btn-secondary w-100 text-start mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeries" aria-expanded="false" aria-controls="collapseSeries">
                        Series
                    </button>
                    <div class="collapse" id="collapseSeries">
                        <div class="card card-body">
                            <label for="series" class="form-label">Series:</label>
                            {{ form.series }}
                        </div>
                    </div>

                    <!-- Scarlet & Violet Sets -->
                    <button class="btn btn-secondary w-100 text-start mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSVSets" aria-expanded="false" aria-controls="collapseSVSets">
                        Scarlet & Violet Sets
                    </button>
                    <div class="collapse" id="collapseSVSets">
                        <div class="card card-body">
                            {{ form.scarlet_violet_sets }}
                        </div>
                    </div>

                    <!-- Supertypes -->
                    <button class="btn btn-secondary w-100 text-start mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSupertypes" aria-expanded="false" aria-controls="collapseSupertypes">
                        Supertypes
                    </button>
                    <div class="collapse" id="collapseSupertypes">
                        <div class="card card-body">
                            <label for="supertype" class="form-label">Supertype:</label>
                            {{ form.supertype }}
                        </div>
                    </div>

                    <!-- Subtypes with Nested Dropdowns -->
                    <button class="btn btn-secondary w-100 text-start mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSubtypes" aria-expanded="false" aria-controls="collapseSubtypes">
                        Subtypes
                    </button>
                    <div class="collapse" id="collapseSubtypes">
                        <div class="card card-body">
                            <button class="btn btn-light w-100 text-start mb-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePokemonSubtypes">
                                Pokémon Subtypes
                            </button>
                            <div class="collapse ps-3" id="collapsePokemonSubtypes">
                                {{ form.pokemon_subtypes }}
                            </div>

                            <button class="btn btn-light w-100 text-start mb-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTrainerSubtypes">
                                Trainer Subtypes
                            </button>
                            <div class="collapse ps-3" id="collapseTrainerSubtypes">
                                {{ form.trainer_subtypes }}
                            </div>

                            <button class="btn btn-light w-100 text-start mb-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEnergySubtypes">
                                Energy Subtypes
                            </button>
                            <div class="collapse ps-3" id="collapseEnergySubtypes">
                                {{ form.energy_subtypes }}
                            </div>
                        </div>
                    </div>

                    <!-- Types -->
                    <button class="btn btn-secondary w-100 text-start mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTypes" aria-expanded="false" aria-controls="collapseTypes">
                        Types
                    </button>
                    <div class="collapse" id="collapseTypes">
                        <div class="card card-body">
                            {{ form.types }}
                        </div>
                    </div>

                    <!-- Rarity -->
                    <button class="btn btn-secondary w-100 text-start mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRarity" aria-expanded="false" aria-controls="collapseRarity">
                        Rarity
                    </button>
                    <div class="collapse" id="collapseRarity">
                        <div class="card card-body">
                            <label for="common_rarities" class="form-label">Common Rarities:</label>
                            {{ form.common_rarities }}<br>
                            <label for="other_rarities" class="form-label">Other Rarities:</label>
                            {{ form.other_rarities }}
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary mt-3 w-100">Apply Filters</button>
                </form>
            </div>
        </div>
    </div>
</div>


    <hr>

    <!-- Search Results -->
    {% if cards %}
        <h2>Search Results</h2>
        <div class="row">
            {% for card in cards %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <!-- Hoverable image -->
                        <img src="{{ card.images.small }}"
                             class="card-img-top"
                             alt="{{ card.name }}"
                             data-bs-toggle="modal"
                             data-bs-target="#addCardModal-{{ card.id }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ card.name }}</h5>
                            <p class="card-text">
                                <strong>Id:</strong> {{ card.id }}<br>
                                <strong>Supertype:</strong> {{ card.supertype }}<br>
                                <strong>Subtype:</strong> {{ card.subtypes }}<br>
                                <strong>Rarity:</strong> {{ card.rarity }}<br>
                                <strong>Type:</strong> {{ card.types }}<br>
                                <strong>Series:</strong> {{ card.set.series }}<br>
                                <strong>Set:</strong> {{ card.set.name }}<br>
                                <strong>Set Id:</strong> {{ card.set.id }}
                                <strong>Set Number:</strong> {{ card.number }}
                            </p>
                            <h6>Prices:</h6>
                            <ul>
                                {% if card.tcgplayer %}
                                    {% for price in card.prices %}
                                        <li>{{ price.type|title }}: Market: ${{ price.market }}</li>
                                    {% empty %}
                                        <li>No price data available.</li>
                                    {% endfor %}
                                {% else %}
                                    <li>No price data available.</li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>

                 <!-- Modal for adding the card to collection -->
                <div class="modal fade" id="addCardModal-{{ card.id }}" tabindex="-1" aria-labelledby="addCardModalLabel-{{ card.id }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addCardModalLabel-{{ card.id }}">Add "{{ card.name }}" to Collection</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form method="post" action="{% url 'cards:add_card_to_collection' card.id %}">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <label for="quantity-{{ card.id }}" class="form-label">Quantity:</label>
                                        <input type="number" name="quantity" id="quantity-{{ card.id }}" class="form-control" min="1" value="1" required>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Add to Collection</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No cards found matching your criteria.</p>
    {% endif %}

    <!-- Pagination -->
    <nav>
        <ul class="pagination justify-content-center">
            {% if page > 1 %}
                <li class="page-item">
                    <a class="page-link" href="?{% query_transform page=page|add:-1 %}">Previous</a>
                </li>
            {% endif %}
            <li class="page-item active">
                <span class="page-link">{{ page }}</span>
            </li>
            {% if cards %}
                <li class="page-item">
                    <a class="page-link" href="?{% query_transform page=page|add:1 %}">Next</a>
                </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock %}
