/* Background Colors */
/* More specific selector */

.bg-vibrant-orange {
    background-color: #EE8329;
}

.bg-rusty-red {
    background-color: #CD5241;
}

.bg-deep-teal {
    background-color: #084152;
}

.bg-soft-yellow {
    background-color: #EEDE7B;
}

.bg-golden-yellow {
    background-color: #EEB45A;
}

.bg-cool-blue {
    background-color: #207394;
}

/* Text Colors */
.text-vibrant-orange {
    color: #EE8329;
}

.text-rusty-red {
    color: #CD5241;
}

.text-deep-teal {
    color: #084152;
}

.text-soft-yellow {
    color: #EEDE7B;
}

.text-golden-yellow {
    color: #EEB45A;
}

.text-cool-blue {
    color: #207394;
}

/* Button Colors */
.btn-vibrant-orange {
    background-color: #EE8329;
    color: #fff;
}

.btn-vibrant-orange:hover {
    background-color: #D97A22; /* Darkened color */
}

.btn-rusty-red {
    background-color: #CD5241;
    color: #fff;
}

.btn-rusty-red:hover {
    background-color: #B04B3B; /* Darkened color */
}

.btn-deep-teal {
    background-color: #084152;
    color: #fff;
}

.btn-deep-teal:hover {
    background-color: #073D43; /* Darkened color */
}

.btn-soft-yellow {
    background-color: #EEDE7B;
    color: #000;
}

.btn-soft-yellow:hover {
    background-color: #D7C47C; /* Darkened color */
}

/* Border Colors */
.border-vibrant-orange {
    border: 2px solid #EE8329;
}

.border-rusty-red {
    border: 2px solid #CD5241;
}

.border-deep-teal {
    border: 2px solid #084152;
}

.border-soft-yellow {
    border: 2px solid #EEDE7B;
}

.border-golden-yellow {
    border: 2px solid #EEB45A;
}

.border-cool-blue {
    border: 2px solid #207394;
}

/* Additional Styling */
.navbar-vibrant-orange {
    background-color: #EE8329;
    color: #EEDE7B;
}

.navbar-deep-teal {
    background-color: #084152;
    color: #EEDE7B;
}

.footer-vibrant-orange {
    background-color: #EE8329;
    color: #EEDE7B;
}

.footer-deep-teal {
    background-color: #084152;
    color: #EEDE7B;
}

/* Image Hover Effects */
.card-image-top {
    transition: transform 0.3s ease;
}

.card-image-top:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.img-card-custom {
    height: 150px;
    object-fit: contain;
    margin: auto;
    transition: transform 0.3s ease;
}

.img-card-custom:hover {
    transform: scale(1.5);
    cursor: pointer;
}

.card-img-top {
    transition: transform 0.3s ease;
}

.card-img-top:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.greyed-out {
    filter: grayscale(100%);
    opacity: 0.6;
}

/*
html {scroll-behavior: smooth;}

a { color: var(--primary-color); }
a:hover { color: var(--primary-color); }

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    background: #F1F1F1;
}

::-webkit-scrollbar-thumb {
    background: var(--bs-dark);
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.hero {
    position: relative;
    height: 100vh;
    background-color: var(--primary-color);
    overflow: hidden;
}

.hero__video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
}

.hero__overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary-color);
    opacity: 0.5;
    z-index: 1;
}

.hero__content {
    z-index: 1;
}

.hero__content-width {
    max-width: 540px;
}

.hero__scroll-btn {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    z-index: 1;
    color: var(--bs-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.hero__scroll-btn:hover {
    color: var(--bs-light);
    opacity: 0.8;
}

.hero__scroll-btn .bi {
    transition-delay: 0.8s;
    animation: bounce 1s infinite alternate;
}
*/



