{% extends "user_base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="card mx-auto" style="max-width: 400px;">
    <div class="card-body">
        <h2 class="card-title text-center">Login</h2>
        <form method="POST" autocomplete="off" class="mt-4">
            {% csrf_token %}
            {{ loginForm.as_p }}
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
        <hr>
        <p class="text-center">Don't have an account? <a href="{% url 'users:register' %}">Register here</a></p>
    </div>
</div>
{% endblock %}
