{% extends 'user_base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="card mx-auto" style="max-width: 400px;">
    <div class="card-body">
        <h2 class="card-title text-center">Register</h2>
        <form method="POST" autocomplete="off" class="mt-4">
            {% csrf_token %}
            {{ registerForm.as_p }}
            <div class="d-grid">
                <button type="submit" class="btn btn-success">Register</button>
            </div>
        </form>
        <hr>
        <p class="text-center">Already have an account? <a href="{% url 'users:login' %}">Login here</a></p>
    </div>
</div>
{% endblock %}
